{% extends "bootstrap/base.html" %}

{% block script %}
{{ super() }}
{% endblock %}

{% block title %}
MUMT: Online Lab Booking
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/auth/logout">Log out</a>
            {% if current_user.is_authenticated() %}
                <p class="navbar-text navbar-right">Signed in with {{ current_user.email }}</p>
            {% else %}
                <p class="navbar-text navbar-right">Not signed in</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
