{% extends "base.html" %}
{% block metas %}
<meta charset='utf-8' />
{% endblock %}

{% block scripts %}
{{ super() }}
<script src={{ url_for('static', filename="fullcalendar/lib/moment.min.js") }}></script>
<script src={{ url_for('static', filename="fullcalendar/lib/jquery.min.js") }}></script>
<script src={{ url_for('static', filename="fullcalendar/lib/jquery-ui.min.js") }}></script>
<script src={{ url_for('static', filename="fullcalendar/fullcalendar.min.js") }}></script>
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
$(document).ready(function() {
    /// create a dialog message for event info
    var info_dialog = $("#event-info").dialog({
        model: true,
        buttons: {
            Ok: function() {
                $(this).dialog("close");
            }
        }
    })

    var event_data; // let it be a global variable for the time being

    /// create a form dialog for adding new event
    var dialog = $("#event-form").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Book": add_event,
                Cancel: function() {
                    dialog.dialog("close");
                }
            },
        });

    {# $("#event-start").selectmenu(); #}
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      add_event();
    });

    function add_event() {
        console.log("Trying to add an event...");
        console.log(event_data);
        $.getJSON($SCRIPT_ROOT + '/verify_booking',
                event_data,
                function(data) {
                if (data['valid'] === "overlap") {
                    $("#valid-status").text("Overlapped period.");
                } else {
                    $('#calendar').fullCalendar('renderEvent', event_data, true);
                    dialog.dialog("close");
                }
            });

    }

    $('#calendar').fullCalendar({
        header: {
                left: 'prev,next,today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
        minTime: "06:00:00",
        maxTime: "24:00:00",
        axisFormat: "H:mm",
        slotDuration: "01:00:00",
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        eventOverlap: false,
        events: [],
        eventClick: function(calEvent, jsEvent, view) {
            $("#event-title-info").text(calEvent.title);
            $("#event-date-info").text(calEvent.start.format("dd, DD MMM YYYY"));
            $("#event-start-info").text(calEvent.start.format("HH:mm"));
            $("#event-end-info").text(calEvent.end.format("HH:mm"));
            $("#event-email-info").text(calEvent.email);
            info_dialog.dialog("open");
            },
        defaultDate: $("#calendar").fullCalendar('today'),
        dayClick: function(date, jsEvent, view) {
                var curr_view = $("#calendar").fullCalendar("getView").name;
                var start = moment(date).format('YYYY-MM-DDTHH:mm');
                var end = moment(date).add(1, 'h').format('YYYY-MM-DDTHH:mm');
                if (curr_view  === "month") {
                    $("#calendar").fullCalendar('gotoDate', date);
                    $("#calendar").fullCalendar('changeView', 'agendaDay');
                } else if (curr_view === "agendaDay") {
                    event_data = {
                        title : "{{ current_user.name }}",
                        start: start,
                        end: end,
                        email: "{{ current_user.email }}",
                    }
                    $("#event-start").text(start);
                    $("#event-end").val(end);
                    dialog.dialog("open");
                }
            },
        });
});
</script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href={{ url_for("static", filename="fullcalendar/lib/jquery-ui.min.css") }} rel='stylesheet' />
<link href={{ url_for("static", filename="fullcalendar/fullcalendar.min.css") }} rel='stylesheet' />
<link href={{ url_for("static", filename="fullcalendar/fullcalendar.print.css") }} rel='stylesheet' media='print' />
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
</style>
{% endblock %}

{% block page_content %}
<h1>Welcome to Lab Booking System</h1>
<div id="calendar"></div>
<div id="event-form" title="Create new event">
    <form>
        <fieldset>
            <p><span id="valid-status"></span></p>
            <p>For: {{ current_user.name }}</p>
            <p>From: <span id="event-start"></span></p>
            {# <select id="event-start" name="start" style="width:200px"> #}
            {#     <option>6:00</option> #}
            {#     <option>7:00</option> #}
            {#     <option selected="selected">8:00</option> #}
            {#     <option>9:00</option> #}
            {#     <option>10:00</option> #}
            {# </select> #}
            <label for="event-end">To:</label>
            <input type="text" id="event-end" name="end"
                class="text ui-widget-content ui-corner-all"></input>
                <input type="submit" tabindex=-1 style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>
<div id="event-info" title="Reservation Information">
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    <table>
        <tr><td>By: </td><td><span id="event-title-info"></span></td></tr>
        <tr><td>Date: </td><td><span id="event-date-info"></span></td></tr>
        <tr><td>From: </td><td><span id="event-start-info"></span></td></tr>
        <tr><td>To: </td><td><span id="event-end-info"></span></td></tr>
        <tr><td>Email: </td><td><span id="event-email-info"></span></td></tr>
        <tr><td>Mobile: </td><td><span id="event-mobile-info"></span></td></tr>
    </table>
</div>
<div id="message-area">
    <h2>Please leave a comment below</h2>
    <form>
        <fieldset>
            <textarea></textarea>
        </fieldset>
    </form>
</div>
{% endblock %}
